
h1, h2 {
    margin: 20px;
}


.nav_links {
    background-color: gray;
    height: 100px;
}

/*Name header*/
.name {
    float: left;
    margin: 30px 15px 50px;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }


/*Tabs for navigation bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

/*Navigation bar text alignment properties*/
li a {
    padding: 10px;
    margin: 0 30px 25px;
    text-decoration: none;
    color: black;
    text-align: right;
}

/*Contact info property*/
.contact li {
    padding: 5px 15px;
}

/*Profile image*/
.about img{
    width: 220px;
    height: 300px;
    border-radius: 50%;
    margin: 25px;
    float: left;
}

.text {
    text-align: center;
}